<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- h1 h2 등의 크기를 원하는대로 잡기위해 reset.css 사용 -->
    <link rel="stylesheet" type="text.css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/okky.css" />
    <title>okky_login</title>
  </head>
  <body>
    <section id="contents">
      <div class="wrapper">
        <div class="title">
          <a href="https://google.com">
            <img src="../img/okky.svg" alt="okky" class="okky_svg" />
          </a>
        </div>
        <div class="intro">
          <div class="intro_saying">
            OKKY에 오신것을 환영합니다.
          </div>
        </div>
        <div class="okkyis">
          <div class="okkyis_saying">
            OKKY는 소프트웨어 개발자를 위한 지식공유 플랫폼입니다.
          </div>
        </div>
        <div class="make">
            <div class="make_saying">
                OKKY 아이디로 로그인
            </div>
            <form action="" method="post">
                <label for="id">아이디</label><br/>
                <input type="text" name ="아이디" id="id" /><br/>

                <label for="password">비밀번호</label><br/>
                <input type="password" name ="비밀번호" id="password"/><br/>

            </form>
            <div class="make_join">
                <input type="submit" value="로그인" />
            </div>
            <div class="already_make">
                아직 회원이 아니신가요?
                <!-- href은 나중에 추가해야함 -->
                <a href="" target="_blank">회원가입</a>
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
