<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- h1 h2 등의 크기를 원하는대로 잡기위해 reset.css 사용 -->
    <link rel="stylesheet" type="text.css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/page.css" />
    <title>okky_out_check</title>
  </head>
  <body class="out-check">
    <div class="out-check-middle">
        <div class="out-check-middle-core">
            <a href="/">
                <img class="middle-img" src="../okky.svg" alt="OKKY">
            </a>
            <h2 class="middle-h2">회원 탈퇴 시 아래와 같이 처리됩니다.</h2>
            <div class="telling">
                <div class="telling-top">
                    <div class="telling-top-content">
                        <p class="things">
                            <div class="two-contents">
                                <p class="break-keep">
                                    "회원 탈퇴일로부터 계정과 닉네임을 포함한 계정 정보(아이디/이메일/닉네임)는"
                                    <a target="_blank" class="highlight" href="/legal/20220101-privacy">개인정보 보호정책</a>
                                    "에 따라 "
                                    <span class="font-semibold">60일 간 보관(잠김)</span>
                                    "되며 , 60일 경과된 후에는 모든 개인 정보는 완전히 삭제되며 더 이상 복구할 수 없게 됩니다."
                                </p>
                                <p class="break-keep">
                                    작성된 게시물은 삭제되지 않으며, 익명처리 후 OKKY로 소유권이 귀속됩니다. 게시물 삭제가 필요한 경우에는
                                    <!--이후에 수정해야함-->
                                    <a href="mailto:info@okky.kr" class="underline">관리자 메일</a>
                                    "로 문의해 주시기 바랍니다."
                                </p>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="telling-bottom">
                    <button type="button" class="cancel">취소</button>
                    <button type="submit" class="yes">예,탈퇴하겠습니다.</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
