<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="css/page.css">
	<link rel="stylesheet" href="css/header.css">
</head>
<body>
<header>
	<div class="head-div">
		<div class="logo-div">
			<a href=""><img src="../img/logo.png" class="logo"></a>
		</div>
		<div class="menu-div">
			<a href=""><div class="nav">입시후기</div></a>
			<a href=""><div class="nav">선배에게 물어요</div></a>
			<a href=""><div class="nav">커뮤니티</div></a>
			<a href=""><div class="nav">FAQ</div></a>
		</div>
		<div class="user-div">
			<a href=""><img src="../img/doScrap.png"></a>
			<div class="my-info"><img src="../img/defaultProfile.png"></div>
		</div>
	</div>
</header>			<!-- 모든 페이지에 공통으로 들어갈 부분 추후 작성 예정  -->
<hr class = "head-main"/>
<main>
	<div class ="divide-three">
		<div class = "middle_jw"> <!-- 화면의 중앙 부분  -->
			<div class="middle-content">
				<div class="page-title"> <!-- 이름과 선택창  -->
					<div class="page-title1"> <!-- 그중에서 위; 닉네임 나의 계정-->
                        <!-- href은 추후에 작성하면됨. -->
                        <a href="", target="_blank">
                            <img class="page-title1-img" alt="프로필 사진" src="img/hakoo.jpg">
                        </a>
                        <div class="name-write">
                            <div class="name-write-word">
                                <span class="name-write-word-real">쏜살같은여우</span>
                            </div>
                        </div>
						<button>나의 계정</button>
					</div>
                    <div class="page-title2"> <!-- 그중에서 아래; 최근활동, Q&A, 게시물-->
						<!-- 나중에 href채워야함 -->
						<a class="page-title2-recent" href="">
							<span class="page-title2-recent-top2">최근 활동</span>
						</a>

						<a class="page-title2-recent" href="">
							<span class="page-title2-recent-top1">Q&A</span>
							<span aria-hidden="true" class="page-title2-recent-bottom1"></span>

						</a>
						<a class="page-title2-recent" href="">
							<span class="page-title2-recent-top2">게시물</span>

						</a>
                    </div>
				</div>
				<div class ="page-content"> <!--활동내역-->
					<ul class="page-content-things">
						<li class="page-content-things-in">
							<div class="stuff">
								<div class="stuff1">
									<div class="stuff1-1">
										<div class="stuff1-1-left">
											<!-- 나중에 수정해야함 -->
											<a href="www.google.com">모임/스터디</a>
											<div class="sutff1-1-left-thing">
												<!-- 왜 안되는지.. -->
												"카테고리의"
												<span>게시물</span>
												"을 스크랩하였습니다."
											</div>
										</div>
										<div class="sutff1-1-right">2024-01-28 14:14:47</div>
									</div>
									<div class="stuff1-2">
										<!-- 나중에 href 수정해야함 -->
										<a class="stuff1-2-1" href="www.google.com">온라인 자기개발 스터디원을 모집합니다 (선착순 1인)</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				<div class ="page-content-last"> <!--활동내역-->
					<ul class="page-content-things">
						<li class="page-content-things-in">
							<div class="stuff">
								<div class="stuff1">
									<div class="stuff1-1">
										<div class="stuff1-1-left">
											<!-- 나중에 수정해야함 -->
											<a href="www.google.com">모임/스터디</a>
											<div class="sutff1-1-left-thing">
												<!-- 왜 안되는지.. -->
												"카테고리의"
												<span>게시물</span>
												"을 스크랩하였습니다."
											</div>
										</div>
										<div class="sutff1-1-right">2024-01-28 14:14:47</div>
									</div>
									<div class="stuff1-2">
										<!-- 나중에 href 수정해야함 -->
										<a class="stuff1-2-1" href="www.google.com">온라인 자기개발 스터디원을 모집합니다 (선착순 1인)</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				<!--<div class="last-blank"></div> -->
				<div class="paging"> <!-- page를 나타내기 위한 요소 -->
					<div class="previous">
						<button class="previous-button">
							<img src="../img/leftArrow.png"/>
							<div class="word">Previous</div>
						</button>
					</div>
					<div class="select-page">
						<button><div class="page-number-selected">1</div></button>
						<button><div class="page-number">2</div></button>
						<button><div class="page-number">3</div></button>
						<button><div class="page-number">...</div></button>
						<button><div class="page-number">67654</div></button>

					</div>
					<div class="next">
						<button class="next-button">
							<div class="word">Next</div>
							<img src="../img/rightArrow.png"/>
						</button>
					</div>
				</div>
				<div class="end-margin"></div>
			</div>
		</div>		
	</div>
</main>
<footer>
</footer>  			<!-- 모든 페이지에 공통으로 들어갈 부분 추후 작성 예정 -->
</body>
</html>
