<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- h1 h2 등의 크기를 원하는대로 잡기위해 reset.css 사용 -->
  <link rel="stylesheet" type="text.css" href="../css/reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/daehakjaza.css" />
  <title>join</title>
</head>
<body>
<section id="contents">
  <div class="wrapper">
    <div class="title">
      <a href="https://google.com">
        <img src="../img/okky.svg" alt="okky" class="okky_svg" />
      </a>
    </div>
    <div class="intro">
      <div class="intro_saying">
        출신 대학교 이름을 입력해주세요.
      </div>
    </div>
    <div class="make">
      <form action="" method="post">
        <label for="university">대학명</label><br/>
        <input type="text" name ="대학명" id="university", placeholder="티모대학교" /><br/>

      </form>
      <div class="make_join">
        <input type="submit" value="입력완료" />
      </div>
    </div>
  </div>
</section>
</body>
</html>
